.row-fluid
  .span2
  .span8
    .row-fluid
      = form_for @post, :html => {multipart: true} do |f|
        .field
          = f.text_field :title, placeholder: "Title"
        .field
          = f.text_area :message, rows: 4, style: 'width: 100%;'
        .field
          = f.file_field :attachment, style: 'width: 60%;'

          = f.hidden_field :project_id, value: @project.id
          = f.hidden_field :phase_id, value: @post.phase.id

        .actions
          = f.submit 'Update'
  .span1