.row-fluid
	.sideNav.lead
		%ul.active Overview
		%ul
			Phase
			- @project.phases.each do |phase|
				%li.active= phase.name
		%ul.active Options
		%ul.active Contract
.sideNavcontent
	.row-fluid
		.span12
			.row-fluid
				.span1
				.page-header.pagination-centered.span10
					%h1= link_to @project.name, project_path(@project.id)
				.span1
			/ Progress Bar
			.row-fluid
				.span1
				.progress.progress-striped.success.span10
					.bar{:style => "width: #{9+rand(5)*20}%;"}
				.span1
			/ end
			/ The five phases
			.row-fluid
				.span1
				- @project.phases.each do |phase|
					.span2.pagination-centered.phase
						%div{:class => 'active'}= link_to phase.name, "#"
				.span1
			.row-fluid
				.span1
				.span10
					%h2
						Some Phase
						%small= link_to 'add call', '#'
				.span1
			= if @show_partial then render "projects/show_partials/#{@show_partial}" else render "projects/show_partials/posts"  end













